* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow-x: hidden ;
    background-color: $color-body !important;
    position: relative;
    font-family: Oswald !important;
}
